* {
    box-sizing: border-box;
    text-decoration: none;
    color:black
}

body {
    width: auto;
    height: auto;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    background: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    'header'
    'menu'
    'main'
    'article'
    'footer';
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap:1.5%;
    margin: 0.2%;
}







.header {
    grid-area: header;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 8;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background: #E9E5DA;
}

a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
 
img.logo {
    max-height: 50px;
    height: 120%;
    padding-left: 40%;
}

nav.nav.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

ul.nav.top {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

nav.menu {
    grid-area: menu;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    background: #A73A29;
}

ul.nav.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

li.menu_items {
    list-style-type: none;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.önskelista_nav {
    width: 30px;
    height: 30px;
}

img.önskelista_nav:hover {
    filter: invert(100%);
}

img.önskelista_nav:active {
    filter: invert(50%);
}

.menu_link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu_link:hover {
    color: rgb(67, 67, 67);
}

.menu_link:active {
    text-decoration: none;
    color: rgb(115, 115, 115);
}



.menu_link_bottom{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu_link_bottom:hover {
    color: rgb(0, 0, 0);
}

.menu_link_bottom:active {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

.menu_img {
    padding-left: 12px;
}









.main-content {
    grid-area: main;
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: auto;
    box-sizing: border-box;
    gap: 2px;
    padding: 1.1%;
    align-content: space-evenly;
    justify-content: space-evenly;
    background: #E9E5DA;
    padding-bottom: 30px;
}

nav.nav.produkter {
    margin: auto;
}

ul.nav.produkter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background: #DDD3B8;
    font-size: 130%;
    margin: 0;
    margin-bottom: 2.4%;
}




section.produkter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px;
    gap: 30px;
}

article {
    width:100%;
    height: 100%;
    margin: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    background: #FBF7EE;
}

section.img {
    background: rgb(255, 255, 255);
    padding: 15px;
    max-height: 100%;
}

img.products {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
}

section.product {
    background: #FBF7EE;
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

h2.product { 
    padding: 5px;
    margin: 0px;
    font-size: 1.2em;
}

h4 {
   margin-top: 4px;
   font-weight: normal;
   color: grey;
}

p {
    max-height: 127px;
    overflow: hidden;
    line-clamp: 3;
    line-height: 115%;
    font-size: 96%;
    margin-top: 5px;
    margin-top: 5px;
}




section.buy {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5%;
    padding-top: 5px;
}

a.buy {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 80px;
    padding: 5px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 3px;
    transition: all 0.3s;
}

a.buy {
    font-size: 80%;
    align-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
}

a.buy:hover {
    background: #226f22;
    color: white;
}

a.buy:active {
    background:  #244824;
    border-color: #222;
}







<!-- Produktsida-->

section.ram {
    display: block ;
}

article.produktsida {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FBF7EE;
    box-shadow: 0 0 0;
    padding: 2%;
    height: 40em;
}

section.img_produktbild {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding-top: 5px;
    width: 50%;
}

li.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.slide {
    width: 100%;
    max-height: 580px;
    height: auto;
    display: block;
    object-fit: cover;
}

img.slide_zoom {
    width: 100%;
    max-height: 580px;
    height: auto;
    display: block;
    object-fit: fill;
}

section.splide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding-top: 5px;
    width: 50%;
}

section.produktinfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    gap: 1%;
}

h2.produktnamn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;
    margin-bottom: 1%;
    margin-top: 5%;
}

ul.prismeny {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
}

li.pris {
    background: #E9E5DA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    width: 20%;
}

li.antal {
    background: #E9E5DA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    width: 20%;
}

img.önskelista_prod {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    filter: invert(100%);
}

a.buy_ikon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    padding: 5px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 3px;
    transition: all 0.3s;
}

a.buy_ikon {
    font-size: 80%;
    align-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
}

a.buy_ikon:hover {
    background: #226f22;
    color: white;
}

a.buy_ikon:active {
    background:  #244824;
    border-color: #222;
}

section.produktbeskrivning {
    display: flex;
    flex-direction: column;
    padding: 4%;
    height: 100%;
}







footer {
    grid-area: footer;
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
    justify-content: center;
    background: rgba(226, 226, 226, 0.5);
    height: 105%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    background: #E9E5DA;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

li.adress {
    max-width: 200px;
    color: black;
}

li.footer {
    padding-bottom: 10px;
    color: rgb(60, 60, 60);
}

h1.footer {
    font-size: 200%;
    margin-bottom: 1%;
    margin-top: 5%;
}

p.footer {
    font-size: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
}



section.företag {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    width: 100%;
}

img.footer {
    width: 65%;
    margin: 5%
}

section.AB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DDD3B8;
}



section.kontakt {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 24%;
    gap: 10%;
}

img.sm_1 {
    height: 160%;
}

p.kontakt {
    font-size: 100%;
    text-align: center;
    background: #DDD3B8;
    margin: 2%;
    height: 45px;
    padding: 4%;
}




section.social {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

ul.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
    width: 100%;
    margin: 2%;
    padding-left: 15%;
    padding-right: 15%;
    max-height: 46px;
}

h2.footer {
    font-size: 130%;
    margin: 2%;
    height: 45px;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    background: #DDD3B8;
}

a.sm {
    display: flex;
    justify-content: center;
    align-items: top;
}

img.sm {
    width: 130%;
}

img.sm:hover {
    filter: invert(100%);
}

img.sm:active {
    filter: invert(50%);
}







