* {
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    'header'
    'menu'
    'main'
    'article'
    'footer';
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap:20px;
    margin: 5px;
}







.header {
    grid-area: header;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 8;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

a.logo {
    display: flex;
    margin: 5px;
}
 
img.logo {
    height: 80%;
}

nav.nav.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

ul.nav.top {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

nav.menu {
    grid-area: menu;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

ul.nav.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

li.menu_items {
    list-style-type: none;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_link {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

.menu_link:hover {
    color: rgb(0, 0, 0);
}

.menu_link:active {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

.menu_img {
    padding-left: 12px;
}









.main-content {
    grid-area: main;
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: auto;
    margin: 5px;
    gap: 2px;
}

section.produkt.lista {
    display: flex;
    gap: 15px;
}

nav.nav.produkter {
    margin: auto;
}

ul.nav.produkter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}




section.produkter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    gap: 20px;
}

article {
    width: 300px;
    height: 450px;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

img.products {
    width: 300px;
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

section.img {
    background: rgb(255, 198, 53);
}

section.product {
    background: white;
    display: block;
    box-sizing: border-box;
    padding: 15px;
}

h2.product { 
    margin: 0px;
}

h4 {
   margin-top: 4px;
   font-weight: normal;
   color: grey;
}

p {
    max-height: 127px;
    overflow: hidden;
    line-clamp: 3;
    line-height: 115%;
    font-size: 96%;
}




section.buy {
    display: flex;
    background: white;
    justify-content: center;
    padding-bottom: 12px;
}

a.buy {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 80px;
    padding: 5px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 3px;
    transition: all 0.3s;
}

a.buy {
    font-size: 80%;
    align-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
}

a.buy:hover {
    background: rgb(65, 65, 65);
    color: white;
}

a.buy:active {
    background:  #222;
    border-color: #222;
}









footer {
    grid-area: footer;
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
    justify-content: center;
    margin: 5px;
    background: rgba(226, 226, 226, 0.5);
    height: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

footer {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
ul{
    list-style-type: none;
    padding-inline-start: 0;
}

li.adress {
    max-width: 200px;
    color: black;
}

li.footer {
    padding-bottom: 10px;
    color: rgb(60, 60, 60);
}

h2.footer {
    font-size: 120%;
}
.footer-menu {
    grid-column: 1/2;
}

footer.where {
    grid-column: 2/3;
}

footer.social {
    grid-column: 3/4;
}








